In [27]:
import pandas as pd
from pandas import DataFrame
from sqlalchemy import create_engine
import psycopg2

In [28]:
population_income_housing = pd.read_csv("../resources/CensusDataCitiesRevised.csv")

population_income_housing.head()

,ranking,metroarea,city,metropolitanpopulation,averageincome,studio,onebedroom,twobedroom
0,1,"New York-Newark, NY-NJ-CT-PA","New York, NY","23,689,255","72,403.80","1,937.00","2,151.00","2,562.00"
1,2,"Los Angeles-Long Beach, CA","Los Angeles, CA","18,688,022","52,214.80","1,151.00","1,370.00","1,760.00"
2,3,"Chicago-Naperville, IL-IN-WI","Chicago, IL","9,882,634","60,880.20",940,"1,091.00","1,283.00"
3,4,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA","Washington, DC","9,665,892","68,187.25","1,295.00","1,360.00","1,571.00"
4,5,"San Jose-San Francisco-Oakland, CA","San Francisco, CA","8,751,807","87,138.56","2,023.00","2,486.00","3,123.00"

In [29]:
rds_connection_string = "postgres:WorldWT*2018@localhost:5432/city_statistics_db"
engine = create_engine(f"postgresql://{rds_connection_string}")

In [30]:
engine.table_names()

['citystatistics']

In [31]:
population_income_housing.to_sql(name="citystatistics", con=engine, if_exists="append", index=False)

In [32]:
pd.read_sql_query("select * from citystatistics", con=engine).head()

,ranking,metroarea,city,metropolitanpopulation,averageincome,studio,onebedroom,twobedroom
0,1,"New York-Newark, NY-NJ-CT-PA","New York, NY","23,689,255","72,403.80","1,937.00","2,151.00","2,562.00"
1,2,"Los Angeles-Long Beach, CA","Los Angeles, CA","18,688,022","52,214.80","1,151.00","1,370.00","1,760.00"
2,3,"Chicago-Naperville, IL-IN-WI","Chicago, IL","9,882,634","60,880.20",940,"1,091.00","1,283.00"
3,4,"Washington-Baltimore-Arlington, DC-MD-VA-WV-PA","Washington, DC","9,665,892","68,187.25","1,295.00","1,360.00","1,571.00"
4,5,"San Jose-San Francisco-Oakland, CA","San Francisco, CA","8,751,807","87,138.56","2,023.00","2,486.00","3,123.00"